diet_manager_workflow.json
{"name": "Diet Manager","nodes": [{"parameters": {"webhookUri": "diet-manager-webhook"},"name": "Telegram Trigger","type": "n8n-nodes-base.telegramTrigger","typeVersion": 1,"position": [250, 300]},{"parameters": {"functionCode": "return [{ json: { imageUrl: $json[\"imageUrl\"] } }];"},"name": "Image Processing","type": "n8n-nodes-base.function","typeVersion": 1,"position": [450, 300]},{"parameters": {"query": "SELECT * FROM recipes WHERE ingredients LIKE '%{{$json[\"imageUrl\"]}}%'"},"name": "Recipe Retrieval","type": "n8n-nodes-base.postgres","typeVersion": 1,"position": [650, 300]},{"parameters": {"calories": "{{$json[\"recipe\"]}}.calories","proteins": "{{$json[\"recipe\"]}}.proteins","carbs": "{{$json[\"recipe\"]}}.carbs"},"name": "Nutrition Calculation","type": "n8n-nodes-base.function","typeVersion": 1,"position": [850, 300]},{"parameters": {"criteria": "{{$json[\"nutrition\"]}}","complianceRules": "healthy"},"name": "Compliance Checking","type": "n8n-nodes-base.if","typeVersion": 1,"position": [1050, 300]}],"connections": {"Telegram Trigger": {"main": [[{"node": "Image Processing","type": "main","index": 0}]]},"Image Processing": {"main": [[{"node": "Recipe Retrieval","type": "main","index": 0}]]},"Recipe Retrieval": {"main": [[{"node": "Nutrition Calculation","type": "main","index": 0}]]},"Nutrition Calculation": {"main": [[{"node": "Compliance Checking","type": "main","index": 0}]]}}}